#nvm is not compatable with prefix
#prefix=${HOME}/./node_modules
#registry=https://artifacthub-tip.tel.com/api/npm/npmjs-remote
#proxy=http://www-proxy.com:80/
#https-proxy=http://www-proxy.com:80
#noproxy=tel.com
